/node_modules
/**/dist
/**/build
/**/node_modules
/**/tsconfig.tsbuildinfo
/report.html
/devpackages/post-whatsapp-build-message/src/constants.js
/devpackages/post-whatsapp-build-message/src/session.json