{
  "minify": true,
  "test": ".*.ts$",
  "exclude": [".*.map$"],
  "sourceMaps": true,
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "loose": true,
      "tsx": true,
      "dynamicImport": true
    },
    "target": "es5"
  }
}